
.bloghead {
  width: 100%;
  height: 10vh;
  /* background-color: skyblue; */
  color: white;
  margin-top: 2vh;
  padding: 0vh 10vh; 
  border-radius: 2vh;
  line-height: 1vh;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bloghead h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.bloghead p {
  float: right;
  font-style: italic;
  font-weight: bold;
  color: grey;
}
